@use "@/assets/variables.scss" as vars;

.app-context-menu-window{
  border: 1px solid black;
  border-radius: 6px;
  filter: drop-shadow(1px 1px 3px vars.$bg-active);
  width: 160px;
}

.app-context-menu-item:hover,ul:hover{
  &>.app-context-submenu{
    display: flex;
  }
}



.app-context-menu{

  position: fixed;
  z-index: 1000;

  box-sizing: border-box;

  .app-context-submenu{
    @extend .app-context-menu-window;
    display: none;
    position: absolute;
    top: 0;

    &[data-expandleft="true"]{
      left: 100%;
    }
    &[data-expandleft="false"]{
      right: 100%;
    }
  }


  ul {
    @extend .app-context-menu-window;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.2em;
    background: vars.$bg;
    box-sizing: border-box;

    flex-direction: column;
    gap: 10px;
  }

  li{
    padding: 0.2em;
    //border: 1px solid transparent;
    //border-radius: 6px;
    //
    //&:hover{
    //  background: vars.$bg;
    //
    //  filter: drop-shadow(1px 1px 1px vars.$bg-active);
    //}
  }

  &.hidden{
    display: none;
  }
}

.app-context-menu-item{
  position: relative;
  background: none;
  font-size: 0.8rem;


  &[data-haschild="true"] {
    &::after {
      content: ">";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}
