@use "src/assets/variables" as vars;

.collapsible-titlebar {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 600;

  font-size: 0.8em;
  flex-shrink: 0;
  height: 2ch;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: vars.$bg;

  a {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;

  }

  span {
    transition: all ease 200ms;
    user-select: none;
  }

  &.collapsed > a > span {

    transform: rotate(90deg);
  }
}

*:has(>.collapsible-content) {
  z-index: 0;
  overflow: hidden;
}

.collapsible-content {
  position: relative;
  z-index: 0;
  height: fit-content;

  transition: all ease-in-out 200ms;
  opacity: 1;

}

*:has(>.collapsible-titlebar.collapsed) > .collapsible-content {

  overflow: hidden;
  display: none;
  opacity: 0;
}
