@use "@/assets/variables.scss" as vars;


.dropdown-input {
  display: inline-flex;
  align-items: center;

  padding: 0 2em 0 0.5em;

  height: 24px;
  width: 100%;
  user-select: none;
  font-size: 0.8em;
  font-weight: 500;
  border: 1px solid vars.$line-color;
  border-radius: 6px;
  position: relative;
  transition: all ease 200ms;

  &:not(.checked) {
    & > span {
      transform: rotateZ(90deg);
    }
  }

  &.checked{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }

  & > span {
    cursor: pointer;
    position: absolute;
    right: 0;
    user-select: none;
    transition: all ease 200ms;

  }
}

*:has(.dropdown-menu) {
  position: relative;
  width: available;


}


*:has(.dropdown-input.checked) {
  & > .dropdown-menu {
    display: initial;
    max-height: 200px;
    animation: none;
    visibility: initial;
    opacity: 1;
  }

}


.dropdown-menu {

  position: absolute;
  font-size: 0.8em;
  background: vars.$bg;

  z-index: 2;
  width: 100%;
  left: 0;
  top: 100%;


  max-height: 0;
  transition: max-height ease 200ms, opacity ease 300ms;
  overflow: auto;
  opacity: 0;
  border-radius: 0 0 8px 8px;
  border: 1px solid black;
  border-top: none;

  padding: 0 0.2em 0.2em;

  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
  list-style: none;

  & > li {
    user-select: none;
    margin-top: 0.5em;
    padding: 0.2em 0.4em;
    border-radius: 4px;

    transition: all ease 200ms;
    &:hover{

      background: vars.$bg-hover
    }
    &:active{
      background: vars.$bg-active
    }

    &.selected{
      color: white;
      background: vars.$line-color-highlight;
      font-weight: 600;
    }
  }

}
