@use "variables.scss" as vars;

.button {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 0.5em;
  transition: all linear 100ms;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  user-select: none;
  background: whitesmoke;

  cursor: pointer;

  &:hover {
    background: vars.$line-color-highlight;
    color: whitesmoke;
    border-color: whitesmoke;;
  }

 &:active {
    filter: grayscale(0.6) brightness(0.9);
  }
}

.danger-btn {
  @extend .button;

  color: red;
  border-color: red;

  &:hover {
    color: white;
    background: red;
    border-color: red;
  }
}

.full-width {
  width: 100%;
}
