.element-tree {

  padding: 8px;

  list-style: none;


  ul {
    list-style: none;
    padding-left: 12px;
    position: relative;


    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 10px;
      top: 0;
      height: 100%;
      width: 2px;
      background: lightgray;

    }
  }
  height: 100%;
  box-sizing: border-box;
  margin: 0;

  overflow: auto;
  .element-tree-item {
    min-height: 24px;
    font-size: 14px;

    .tagname {
      font-weight: 500;
      font-size: 0.8em;
      color: grey;
      padding-left: 4px;
    }

    .unnamed {

      font-weight: 400;
    }

    & > p {

      display: flex;
      align-items: center;
      -webkit-user-select: none;
      user-select: none;
      font-weight: 600;
      border-radius: 6px;
      border: 1px solid transparent;
      transition: all ease 100ms;
      height: 26px;
      margin: 2px 0;
      a {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      & > a > span {
        transition: all ease 200ms;

      }

      &.collapsed > a > span {
        transform: rotate(-90deg);
      }

      &:hover{
        background: rgba(0,0,0,0.1);
      }

      &:active{
        background: rgba(0,0,0,0.2);
      }

      &.is-focused{
        background: white;
        border: 1px solid black;
        //filter: drop-shadow(1px 1px 2px darkgray);
      }
    }

    &:has(>p.collapsed) > ul {
      display: none;
      ::before{
        content: none;
      }
    }

  }


}

