.element-tree {

  padding: 8px;

  list-style: none;


  ul {
    list-style: none;
    padding-left: 12px;
    position: relative;

    z-index: 1;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 12px;
      top: 0;
      height: 100%;
      width: 1px;
      background: #ddd;
      z-index: -1;
    }
  }
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  margin: 0;

  overflow: auto;
  .element-tree-item {
    min-height: 24px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 8px;

    .tagname {
      font-weight: 500;
      font-size: 0.8em;
      color: grey;
      padding-left: 4px;
    }

    .unnamed {

      font-weight: 400;
    }

    & > p {

      display: flex;
      align-items: center;
      -webkit-user-select: none;
      user-select: none;
      font-weight: 600;
      border-radius: 6px;
      border: 1px solid transparent;
      transition: all ease 100ms;
      height: 26px;
      margin: 2px 0;

      a {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      & > a > span {
        transition: all ease 200ms;

      }

      &.collapsed > a > span {
        transform: rotate(-90deg);
      }

      &:hover{
        background: rgba(0,0,0,0.1);
      }

      &:active{
        background: rgba(0,0,0,0.2);
      }

      &.is-focused{
        background: white;
        border-color: black;
        //filter: drop-shadow(1px 1px 2px darkgray);
      }



    }

    &:has(>p.collapsed) > ul {
      display: none;
      ::before {
        content: none;

      }
    }

    &:has(>p.drag-over-center){
      border-color: magenta;
    }
    &:has(>p.drag-over-before){
      border-top-color: magenta;
      border-radius: 0;
    }
    &:has(>p.drag-over-after){
      border-bottom-color: magenta;
      border-radius: 0;
    }

  }


}

